appName: stoatchat-crond
image:
  repository: ghcr.io/stoatchat/crond
  tag: {{ index (.Values.stoatchatImageOverrides | default dict) "crond" | default .Values.stoatchatImageTag | quote }}

services: []

{{- if eq .Values.s3.provider "oos" }}
env:
  AWS_REQUEST_CHECKSUM_CALCULATION: WHEN_REQUIRED
  AWS_RESPONSE_CHECKSUM_VALIDATION: WHEN_REQUIRED
{{- end }}
