appName: stoatchat-events
image:
  repository: ghcr.io/stoatchat/events
  tag: {{ index (.Values.stoatchatImageOverrides | default dict) "events" | default .Values.stoatchatImageTag | quote }}

services:
  - name: http
    port: 14703
    targetPort: 14703

ingress:
  enabled: true
  path: /ws
  pathType: Exact
  host: {{ .Values.domain }}
  className: {{ .Values.ingress.className }}
  tlsSecret: {{ .Values.tls.secretName }}
  tlsIssuer: {{ .Values.tls.issuer }}
