appName: stoatchat-gifbox
image:
  repository: ghcr.io/stoatchat/gifbox
  tag: {{ index (.Values.stoatchatImageOverrides | default dict) "gifbox" | default .Values.stoatchatImageTag | quote }}

services:
  - name: http
    port: 14706
    targetPort: 14706

ingress:
  enabled: true
  path: /gifbox/
  pathType: Prefix
  host: {{ .Values.domain }}
  className: {{ .Values.ingress.className }}
  tlsSecret: {{ .Values.tls.secretName }}
  tlsIssuer: {{ .Values.tls.issuer }}
