appName: stoatchat-proxy
image:
  repository: ghcr.io/stoatchat/proxy
  tag: {{ index (.Values.stoatchatImageOverrides | default dict) "proxy" | default .Values.stoatchatImageTag | quote }}

services:
  - name: http
    port: 14705
    targetPort: 14705

ingress:
  enabled: true
  path: /january/
  pathType: Prefix
  host: {{ .Values.domain }}
  className: {{ .Values.ingress.className }}
  tlsSecret: {{ .Values.tls.secretName }}
  tlsIssuer: {{ .Values.tls.issuer }}
