appName: stoatchat-pushd
image:
  repository: ghcr.io/stoatchat/pushd
  tag: {{ index (.Values.stoatchatImageOverrides | default dict) "pushd" | default .Values.stoatchatImageTag | quote }}

services: []
