appName: stoatchat-voice-ingress
image:
  repository: ghcr.io/stoatchat/voice-ingress
  tag: {{ index (.Values.stoatchatImageOverrides | default dict) "voiceIngress" | default .Values.stoatchatImageTag | quote }}

services:
  - name: http
    port: 8500
    targetPort: 8500
