---
apiVersion: v1
kind: ConfigMap
metadata:
  name: infra-urls
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "stoatchat-config.labels" . | nindent 4 }}
  annotations:
    {{- include "reflector.annotations" "stoatchat" | nindent 4 }}
data:
  MONGODB_HOST: "{{ .Values.mongodb.host }}"
  MONGODB_PORT: "{{ .Values.mongodb.port }}"
  REDIS_HOST: "{{ .Values.redis.host }}"
  REDIS_PORT: "{{ .Values.redis.port }}"
  RABBITMQ_HOST: "{{ .Values.rabbitmq.host }}"
  RABBITMQ_PORT: "{{ .Values.rabbitmq.port }}"
  S3_ENDPOINT: "{{ .Values.s3.endpoint }}"
  S3_REGION: "{{ .Values.s3.region }}"
