{{- $_ := .Values.secretSeed | required "secretSeed is required" }}
---
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "stoat-config.labels" . | nindent 4 }}
  annotations:
    {{- include "reflector.annotations" "stoat,stoat-mongodb" | nindent 4 }}
type: Opaque
stringData:
  host: "{{ .Values.mongodb.host }}"
  port: "{{ .Values.mongodb.port }}"
  root-password: "{{ include "getSecret" (dict "seed" .Values.secretSeed "clientId" "mongo-root" "overrides" .Values.secretOverrides) }}"
  username: "stoat"
  password: "{{ include "getSecret" (dict "seed" .Values.secretSeed "clientId" "mongo-user" "overrides" .Values.secretOverrides) }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "stoat-config.labels" . | nindent 4 }}
  annotations:
    {{- include "reflector.annotations" "stoat,stoat-redis,stoat-livekit" | nindent 4 }}
type: Opaque
stringData:
  host: "{{ .Values.redis.host }}"
  port: "{{ .Values.redis.port }}"
  password: "{{ include "getSecret" (dict "seed" .Values.secretSeed "clientId" "redis" "overrides" .Values.secretOverrides) }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: rabbitmq-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "stoat-config.labels" . | nindent 4 }}
  annotations:
    {{- include "reflector.annotations" "stoat,stoat-rabbitmq" | nindent 4 }}
type: Opaque
stringData:
  host: "{{ .Values.rabbitmq.host }}"
  port: "{{ .Values.rabbitmq.port }}"
  username: "stoat"
  password: "{{ include "getSecret" (dict "seed" .Values.secretSeed "clientId" "rabbit-user" "overrides" .Values.secretOverrides) }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: s3-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "stoat-config.labels" . | nindent 4 }}
  annotations:
    {{- include "reflector.annotations" "stoat,stoat-minio" | nindent 4 }}
type: Opaque
stringData:
  endpoint: "{{ .Values.s3.endpoint }}"
  access-key: "{{ include "getSecret" (dict "seed" .Values.secretSeed "clientId" "s3-access" "overrides" .Values.secretOverrides) }}"
  secret-key: "{{ include "getSecret" (dict "seed" .Values.secretSeed "clientId" "s3-secret" "overrides" .Values.secretOverrides) }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: livekit-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "stoat-config.labels" . | nindent 4 }}
  annotations:
    {{- include "reflector.annotations" "stoat,stoat-livekit" | nindent 4 }}
type: Opaque
stringData:
  key: "{{ include "getSecret" (dict "seed" .Values.secretSeed "clientId" "livekit-key" "length" 12 "overrides" .Values.secretOverrides) }}"
  secret: "{{ include "getSecret" (dict "seed" .Values.secretSeed "clientId" "livekit-secret" "overrides" .Values.secretOverrides) }}"
